<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.sist.user.dao.inquiryMapper">
	<select id="selectAllInq" resultType="kr.co.sist.user.domain.Inquiry">
		select	title, to_char(input_date, 'yyyy-MM-dd') input_date, answer_check,i_number
		from	inquiry
		order	by input_date
	</select>

	<insert id="insertInq" parameterType="kr.co.sist.user.vo.InquiryVO">
		insert into inquiry (I_NUMBER, CONTENT, I_TYPE,title ,INPUT_DATE, 
		ANSWER_CHECK,  MEMBER_NUMBER)
		values(seq_inquiry.nextval, #{content}, #{i_type}, #{title}, sysdate, '0', #{n_num})

	</insert>

	<select id="showInqContent" resultType="kr.co.sist.user.vo.InquiryVO" parameterType="String">
		select	content,title,i_number,i_type
		from	inquiry
		where	i_number=#{i_number}
	</select>

</mapper>