<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="sws.ticketMapper">

<select id="signId" resultType="String" parameterType="String">
	select 	id
	from	testmember
	where 	id= #{ id }
</select>

</mapper>