<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="sws.userIdMapper">

<select id="signId" resultType="String" parameterType="String">
	select 	id
	from	member
	where 	id= #{ id }
</select>
<select id="loginCheck" resultType="String" parameterType="kr.co.sist.user.vo.loginVO">

   SELECT id  FROM member
   WHERE ID = #{id} AND PASSWORD = #{pass}
</select>
<select id="idCheck" resultType="String" parameterType="kr.co.sist.user.vo.IdCheckVO">

   SELECT id  
   FROM member
   WHERE name = #{name} AND email = #{email}
</select>

<select id="pwCheck" resultType="String" parameterType="kr.co.sist.user.vo.PwCheckVO">

   SELECT password  
   FROM member
   WHERE id = #{id} AND QUESTION_NUM = #{pw_hint} AND answer = #{pw_answer}
</select>

<select id="userInfo" resultType="kr.co.sist.user.domain.UserInfo" parameterType="String">

   SELECT name,password,question_num,answer,phone,email,zipcode,address
   FROM member
   WHERE ID = #{id} 
</select>

<insert id="userInsert" parameterType="kr.co.sist.user.vo.SignUpVO">
	insert into member(MEMBER_NUMBER, ID, NAME, PASSWORD, PHONE, EMAIL, ZIPCODE, ADDRESS,INPUT_DATE, ANSWER, QUESTION_NUM, STATUS,gender)
	values('MEM-'||to_char(mem_seq.nextval,'0000000'),#{id},#{name},#{pass},#{phone},#{email},#{zip},#{addr}||'/'||#{addr_detail},sysdate,#{pw_answer},#{pw_hint},'0',#{gender})
</insert>
<update id="userUpdate" parameterType="kr.co.sist.user.vo.ChangeInfoVO">
	update member
	set name=#{name}, password=#{current_pass},question_num=#{pw_question},answer=#{pw_answer},phone=#{phone},email=#{email},zipcode=#{zipcode},address=#{addr}
	where id=#{id}
</update>
</mapper>