<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="sws.userIdMapper">

<select id="signId" resultType="String" parameterType="String">
	select 	id
	from	member
	where 	id= #{ id }
</select>
<select id="loginCheck" resultType="String" parameterType="kr.co.sist.user.vo.loginVO">

   SELECT id  FROM member
   WHERE ID = #{id} AND PASSWORD = #{pass}
</select>

<insert id="userInsert" parameterType="kr.co.sist.user.vo.SignUpVO">
	insert into member(MEMBER_NUMBER, ID, NAME, PASSWORD, PHONE, EMAIL, ZIPCODE, ADDRESS,INPUT_DATE, ANSWER, QUESTION_NUM, STATUS,gender)
	values('MEM-'||to_char(mem_seq.nextval,'0000000'),#{id},#{name},#{pass},#{phone},#{email},#{zip},#{addr}||' '||#{addr_detail},sysdate,#{pw_answer},#{pw_hint},'0',#{gender})
</insert>

</mapper>