<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="sws.userIdMapper">

<select id="signId" resultType="String" parameterType="String">
	select 	id
	from	testmember
	where 	id= #{ id }
</select>
<select id="loginCheck" resultType="String" parameterType="kr.co.sist.user.vo.loginVO">

   SELECT id  FROM testmember
   WHERE ID = #{id} AND PW = #{pass}</select>

</mapper>