<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
		<a href="index.do">
			<div class="logo"><img style="width:190px;" src="images/BILRIM.jpg" ></div>
		</a>
			<nav class="main_nav">
				<ul>
					<li><a href="categories.do?target=bag">가방</a></li>
					<li><a href="categories.do?target=accessories">시계/악세사리</a></li>
					<li><a href="categories.do?target=wallet">지갑</a></li>
					<li><a href="ticket.do">이용권</a></li>
					<li><a href="Company_info.do">BILRIM</a></li>
					<li><a href="customer_center.do">고객센터</a></li>
				</ul>
			</nav>
			
			<div class="header_content ml-auto">
				
				<div class="loginSignup" style="width:300px; height:50px;">
					<!-- 로그인 -->
					<div>
						<a href="login.html">
							<img style="margin-top: 8px" src="images/login.png" alt="이미지를 불러오지 못하였습니다">
							</a>
							<!-- 회원가입 -->
						<a href="signUp.do">
							<img src="images/signUp.png" alt="이미지를 불러오지 못하였습니다">
						</a>
					</div>
				</div><!--shopping  -->
			</div><!--header_content ml-auto  -->
		</div>
	</header>