<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <mappers>
 	<mapper resource="kr/co/sist/user/dao/userIdMapper.xml"/>
 	<mapper resource="kr/co/sist/user/dao/ticketMapper.xml"/>
 	<mapper resource="kr/co/sist/user/dao/categoriesMapper.xml"/>
 	<mapper resource="kr/co/sist/user/dao/inquiryMapper.xml"/>
  </mappers>
</configuration>